*{
	box-sizing: border-box;
}

html{
	font-family: "wigwagbold", sans-serif;
}

body {
  max-width: 960px;
  margin: 0 auto;
  min-width: 250px;
  padding: 30px;
  background: url(https://i.imgur.com/OpgF6K6.png) center top no-repeat;
  background-size: 100% auto;
}


.item-incorrect {

}

.item-incorrect:before {
	position: absolute;
	z-index: 399;
	bottom: 0;
	right: 0;
	content:"";
	height: 0;
	width: 0;
	border: 16px solid;
	border-color: black #BF0A30 #BF0A30 black;
}

.item-incorrect:after {
	line-height: 1.3;
	position: absolute;
	z-index: 499;
	content: "\f00d";
	bottom: 0 ;
	right: 27px;
	font-size: 1.9em;
	color: #BF0A30;
}

.item-correct {

}

.item-correct:before{
	position: absolute;
	z-index: 399;
	bottom: 0;
	right: 0;
	content: "";
	height: 0;
	width: 0;
	border: 16px solid;
	border-color: black green green black;
}

.item-correct:after{
	line-height: 1.3;
	position: absolute;
	z-index: 499;
	content: "\f00c";
	bottom: 0;
	right: 27px;
	font-size: 1.9em;
	color: #007fbe;
}


.title-section{
	background-color: black;
	display: block;
	border: 1px solid white;
	padding: 10px 20px 0px;
	border-radius: 3px;
	margin: 0 10px;
	text-shadow: 2px 2px #939392;
}

.title{
	background-color: red;
	color: white;
	font-size: 36px;
	padding: 8px 30px;
	font-weight: bold;
	margin: 0 -30px 10px;
	position: relative;
	border-radius: 3px;
	width: 100%;
	height: 50px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	left: 20px;
}

.start-section, .quiz-section, .result-section{
	background-color: #7D7D7C;
	display: block;
	border: solid 1px white;
	padding: 10px 20px 0px;
	border-radius: 3px;
	margin: 0 10px;
	margin-top: 10px;
	font-weight: bold;
}

input.classic-btn{
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
		0 3px 10px 0 rgba(0, 0, 0, 0.19);
	color: black;
	line-height: 10px;
	margin: 3%;
	padding: 11px 11px;
	text-decoration: none;
	transition: all .2s ease;
	min-width: 100px;
}

input.classic-btn:hover{
	color: white;
	background-color: red;
	text-decoration: underline;
	transform: rotate(20deg) translateX(15px) translateY(-5px);
	border: 1.5px solid black;
}

input.classic-btn:active{
	color: white;
	background-color: red;
	text-decoration: none;
	transform: translateX(30px) rotate(20deg);
}


.btn-default{
	border-color: #ccc;
}

.btn{
	display: inline-block;
	font-size: 14px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
}

.questionContainer{
	background-color: black;
	color: red;
	padding: 8px 30px;
	font-weight: bold;
	margin: 0 -30px 0;
	position: relative;
	border-radius: 3px;
}

.passContainer{
	background-color: #007fbe;
	color: #FFF;
	padding: 8px 30px;
	font-weight: bold;
	margin: 0 -30px 0;
	position: relative;
	border-radius: 3px;
}

.failContainer{
	background-color: #BF0A30;
	color: #FFF;
	padding: 8px 30px;
	font-weight: bold;
	margin: 0 -30px 0;
	position: relative;
	border-radius: 3px;
}

label.answers{
	position: relative;
	display: block;
	padding: 6px;
	border-radius: 6px;
	border: 1px solid #dde7e8;
	font-size: 13px;
	cursor: pointer;
	transition: all .2s ease;
	font-weight: bold;
	color: black;
	width: 100%;
	height: 25px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
}

label.answers:hover{
	color: white;
	background-color: red;
	border: 1px solid black;
	left: 20px;
}

.question-validation{
	background-color: #BF0A30;
	color: #FFF;
	padding: 8px 30px;
	font-weight: bold;
	margin: 0 -20px 10px;
	position: relative;
}

p.answers{
	font-style: italic;
}

h4{
	font-weight: bold;
}

input[type='radio']:after{
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #d1d3d1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid #FFF;
}

label.item-incorrect input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #BF0A30;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #FFF;
}

label.item-correct input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #007fbe;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #FFF;
}


.try-again {
  margin-top: 10px;
  margin-bottom: 10px;
}

.popover-title {
  background-color: #BF0A30;
  color: #FFFFFF;
  text-align: center;
}

.popover-content {
  background-color: white;
  color: #BF0A30;
  padding: 10px;
}

div.ansIncorrect {
  background-color: #FFEFFF;
  border-color: #fae1e1;
  margin: 0 0 6px;
  border: solid 1px #e3e3e3;
  padding: 5px 20px;
  border-radius: 5px;
  position: relative;
  	width: 100%;
	height: 150px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
}

div.ansIncorrect .ansStute {
  background-color: #BF0A30;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: -1px;
  color: #FFF;
  font-weight: 500;
  padding: 0;
  width: 6px;
  border-radius: 5px 0 0 5px;
}

strong {
  font-weight: bold;
}

div.ansCorrect {
  background-color: #E5FFFF;
  border-color: #e2f8cf;
  margin: 0 0 6px;
  border: solid 1px #e3e3e3;
  padding: 5px 20px;
  border-radius: 5px;
  position: relative;
  	width: 100%;
	height: 150px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
}

div.ansCorrect .ansStute {
  background-color: green;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: -1px;
  color: #FFF;
  font-weight: 500;
  padding: 0;
  width: 6px;
  border-radius: 5px 0 0 5px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before, .row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }
  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.33%;
  }
  /* 6 columns 6/12 in % */
  .col-6 {
    width: 50%;
  }
  /* 12 columns, 12/12 */
  .col-12 {
    width: 100%;
  }
}

.nav-status-bar {
  background: #dee3e6;
  margin: 0 -20px;
  padding: 20px 20px;
  border-radius: 0 0 3px 3px;
}

span.status, span.score {
  /* background-color: #BF0A30; */
  background-color: #fff;
  border-radius: 3px;
  /*  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);  */
  color: black;
  line-height: 39px;
  margin: 3px;
  padding: 11px 11px;
  text-decoration: none;
}